button:focus,button:active,button:visited{
  outline: none;
}
.my-wrap{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
@media(min-width:760px){
  .my-wrap{
    flex-direction: row;
  }
}
.leftnav-wrap{
  width: 260px;
  background-color: #00bcd4;
  color: #fff;
  text-align: center;
}
.leftnav-wrap h3{
  border-bottom:2px solid #bada55;
  margin: 0;
  padding:20px 0;
}
.leftnav-wrap a{
  display: block;
  padding: 10px;
  color:#fff;
  font-size: 20px;
  text-decoration: none;
}
.leftnav-wrap a:hover{
  background-color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}
.main{
  flex-grow: 1;
  overflow-y: scroll;
  display: flex;
}
.nav-footer{
  flex-shrink: 0;
  height: 80px;
  background-color: #00bcd4;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-footer a{
  text-align: center;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  flex-grow: 1;
}
.nav-footer a:last-child{
  border: none;
}
.nav-header{
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #00bcd4;
  padding: 0 5px;
}
.nav-header h3{
  margin: 0;
  color: #fff;
  font-weight: bold;
}
.nav-header button{
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border:none;
  border-radius: 6px;
  padding: 6px 12px;
}
.home-wrap{
  flex-grow: 1;
  background-image: url(./images/home-bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
}
.home-cover{
  background-color: rgba(0, 0, 0, 0.6);
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.home-item{
  text-align: center;
  margin: 0 auto;
  color: #fff;
}
.about-wrap{
  flex-grow: 1;
  padding: 10px;
}
.git-card{
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 6px;
  padding:10px;
  text-align: center;
}
.git-card h2{
  margin: 0;
  color:#00bcd4;
}
.about-form{
  display: inline;
  width: 80%;
  max-width: 560px;
}
.show-git{
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 2px 6px;
  justify-content: space-around;
  color: teal;
  font-size: 16px;
  padding: 10px 0;
}
.blog-warp{
  flex-grow: 1;
  margin-top: 20px;
}
.blog-card{
  padding: 0 10px;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.blog-index{
  background-color: #00bcd4;
  font-size: 24px;
  text-align: center;
  color: #fff;
  height: 60px;
  padding-top: 5px;
}
.blog-index span{
  border-radius: 50%;
  border:2px solid #fff;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
}
.blog-content{
  box-shadow: rgba(0, 0, 0, 0.3) 1px 2px 6px;
  padding: 10px;
  color: #666;
}
.blog-content h3{
  margin: 10px 0;
}
.item-wrap{
  flex-grow: 1;
}
